.container{
  .userinfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    .userinfo-avatar {
      width: 128rpx;
      height: 128rpx;
      margin: 20rpx;
      border-radius: 50%;
    }
    .userinfo-nickname {
      color: #aaa;
    }
  }
  .company .img {
    height: 92vw;
    width: 69vw;
  }
  .personal .img {
    height: 40vw;
    width: 69vw;
    margin-bottom: 20rpx!important;
  }
}
